@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700&display=swap");

.header {
  height: rem(56px);
  margin-bottom: rem(50px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  /*
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 99;
  */
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: green; /*var(--mantine-color-blue-filled);*/
    color: var(--mantine-color-white);
  }
}

.navList {
  display: block;
  position: absolute; /* koordinat vereceğimiz için... */
  top: 55px;
  left: 0;
  background-color: var(--mantine-color-dark-8);
  width: 50%;
  height: 100vh;
  opacity: 0.96;
  transition: all 0.4 ease;
  z-index: 98;
}
